<h3 *ngFor="let i of data" class="bg-warning p-3 m-3 text-center">
    {{ i }}
</h3>

<hr>
<button class="btn btn-primary ms-3" (click)="getData1()">Observable 1</button>
<button class="btn btn-primary ms-3" (click)="getData2()">Observable 2</button>
<button class="btn btn-primary ms-3" (click)="getData3()">Observable 3</button>
<button class="btn btn-primary ms-3" (click)="getData4()">Observable 4</button>
<button class="btn btn-primary ms-3" (click)="getData5()">Observable 5</button>
<button class="btn btn-primary ms-3" (click)="getData6()">Observable 6</button>
<button class="btn btn-primary ms-3" (click)="getData7()">Observable 7</button>
<button class="btn btn-primary ms-3" (click)="getData8()">Observable 8</button>